@using EntityLayer
@model MenuParentListModel
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Guncelle</h1>
@using (Html.BeginForm("Guncelle", "Menu", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.TextBox("menuId",Model.MenuModel.menuId,new { @class = "form-control" ,@type="hidden"})
    <br />
    @Html.Label("Menu Adı")
    @Html.TextBox("name",Model.MenuModel.name,new { @class = "form-control"})
    <br />
    @Html.Label("Seo Url")
    @Html.TextBox("seoUrl",Model.MenuModel.seoUrl,new { @class = "form-control"})
    <br />
    @Html.Label("Parent")

    <select name="parentId" class="form-control">
        <option value="Null">Kendisi</option>
        @foreach (var item in Model.MenuListModel)
        {
            if (item.menuId != Model.MenuModel.menuId)
            {
                @if (item.menuId == Model.MenuModel.parentId)
                {
                    <option value="@item.menuId" selected>@item.name</option>
                }
                else
                {
                    <option value="@item.menuId">@item.name</option>
                }

            }
        }
    </select>
    <br />
    @Html.Label("Silindi")
    <select name="MenuSilindi" class="form-control">
        @if (Model.MenuModel.MenuSilindi)
        {
            <option value="true" selected>evet</option>
            <option value="false">hayır</option>
        }
        else
        {
            <option value="false" selected>hayır</option>
            <option value="true">evet</option>
        }
    </select>
    <br />
    <input class="form-control btn btn-primary" type="submit" value="Menu Guncelle" />
}
