@using TiyatroProje.Models;
@model BiletSeansMusteriModel
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3>Bilet Ekle</h3>
    @using (Html.BeginForm("Ekle", "OyunSalonMusteri", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Koltuk No")
        @Html.TextBoxFor(OyunSalonMusteri=>OyunSalonMusteri.BiletModal.KoltukNo,new { @class = "form-control" })
        @Html.ValidationMessageFor(OyunSalonMusteri=>OyunSalonMusteri.BiletModal.KoltukNo,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Tarih")
        <select class="form-control" name="SeansId">
            @foreach (var item in Model.SeansModal)
            {
                <option value="@item.SeansId">@item.Tarih</option>
            }
        </select>
        <br />
        @Html.Label("Saat")
        <select class="form-control" name="SeansId">
            @foreach (var item in Model.SeansModal)
            {
                <option value="@item.SeansId">@item.Saat</option>
            }
        </select>
        <br />
        @Html.Label("KullanıcıAd")
        <select class="form-control" name="MusteriId">
            @foreach (var item in Model.MusteriModal)
            {
                <option value="@item.MusteriId">@item.KullaniciAd</option>
            }
        </select>
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Ekle" />
    }
</div>

