@using TiyatroProje.Models
@model OyunTurVeKadrosuModel;
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3>Oyun Ekle</h3>
    @using (Html.BeginForm("Ekle", "Oyun", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Oyun Adı")
        @Html.TextBoxFor(oyun=>oyun.oyunModal.OyunAd,new { @class = "form-control" })
        @Html.ValidationMessageFor(oyun=>oyun.oyunModal.OyunAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Sure")
        @Html.TextBoxFor(oyun=>oyun.oyunModal.Sure,new { @class = "form-control" })
        @Html.ValidationMessageFor(oyun=>oyun.oyunModal.Sure,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Konu")
        @Html.TextBoxFor(oyun=>oyun.oyunModal.Konu,new { @class = "form-control" })
        @Html.ValidationMessageFor(oyun=>oyun.oyunModal.Konu,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Afis")
        @Html.TextBoxFor(oyun=>oyun.oyunModal.Afis,new { @class = "form-control" })
        @Html.ValidationMessageFor(oyun=>oyun.oyunModal.Afis,"",new { @class ="text-danger" })
        <br />
        @Html.Label("TurAdı")
        <select class="form-control" name="TurId">
            @foreach(var item in Model.turModal)
            {
                <option value="@item.TurId">@item.TurAd</option>
            }
        </select>
            <br />
        @Html.Label("Kadro")
        <select class="form-control" name="OyunKadrosuId">
            @foreach (var item in Model.oyunKadrosuModal)
            {
                    <option value="@item.OyunKadrosuId">@item.Oyuncular</option>
            }
        </select>
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Ekle" />
    }
</div>


